@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #D71920;
  --surface: #F0F0F0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --accent: #D71920;
    --surface: #1A1A1A;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-surface: var(--surface);

  --font-sans: var(--font-inter);
  --font-display: var(--font-dot-matrix);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  text-transform: uppercase;
}

@keyframes glitch {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}

.glitch-hover:hover {
  animation: glitch 0.2s cubic-bezier(.25, .46, .45, .94) both infinite;
  color: var(--color-accent);
}